/*--splash page--*/
.mainheader{padding:10% 0 !important;background-color:#283030;}
.mainbody{margin:2% 0 !important;}
body.mainsite{background-color:#546363;}
.mainsite_header{color:rgba(250,250,250,1);font-weight:normal;}
.center{text-align:center;}

/*--modal--*/
.modal-content{background-color:#283030;}
.modal-footer{border-top:none;}
.modal-body{color:white;}
.datesec{margin:0px;}
.TR{margin:5px 0;}
.DR{margin: 2px;}
.PLUS{margin:2px;}
.plussign{margin:13px 10px;}

.addMatesbtn{width:100%;}

/*--almostthere--*/
.btnwide{width:100%;}